html {
    scroll-behavior: smooth;  /* 电梯导航事件时, 滑动的平滑效果 */
    font-size: 28px;
}

@media screen and (max-width: 1280px) {
    html {
        font-size: 128px!important;
    }
}


/* 蓝色装饰条 */
.blue-strip {
    position: absolute;
    top: 0.03515625rem;
    left: -0.1484375rem;
    float: left;
    width: 0.0625rem;
    height: 0.17578125rem;
    background: #3520FF;
    border-radius: 4px;
}


/* 遮罩层 */
.mask {
    background-color: rgba(0,0,0,0.7);
    /* 使用固定定位让元素撑满全屏 */
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}


/* 购买咨询填写的用户信息 */
.purchase-info {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 3.85546875rem;
    height: 3.48046875rem;
    background: #F3F3F3;
    border-radius: 0.125rem;
}

.purchase-info img {
    position: absolute;
    top: 0.15625rem;
    right: 0.15625rem;
    display: block;
    width: 0.109375rem;
    height: 0.109375rem;
    cursor: pointer;
}

.purchase-info h3 {
    position: absolute;
    display: inline-block;
    top: 0.3125rem;
    left: 1.5625rem;
    font-size: 0.1875rem;
    font-weight: bold;
    color: #010204;
}

.purchase-info h4 {
    position: absolute;
    left: 0.78125rem;
    font-size: 0.125rem;
    font-weight: 400;
    color: #010204;
}

.purchase-info h4:nth-of-type(1) {
    top: 0.78125rem;
}

.purchase-info h4:nth-of-type(2) {
    top: 1.34765625rem;
}

.purchase-info h4:nth-of-type(3) {
    top: 1.91796875rem;
}


.purchase-info input {
    position: absolute;
    left: 0.625rem;
    width: 2.60546875rem;
    height: 0.24609375rem;
    background: #FFFFFF;
    border-radius: 0.12109375rem;
    font-size: 24px;
    padding-left: 30px;
    border: 0;
    outline: none;
}

.purchase-info input:nth-of-type(1) {
    top: 0.94921875rem;
}

.purchase-info input:nth-of-type(2) {
    top: 1.515625rem;
}

.purchase-info input:nth-of-type(3) {
    top: 2.08203125rem;
    padding-right: 0.1171875rem;
}

.purchase-info span {
    position: absolute;
    top: 1.2109375rem;
    left: 0.765625rem;
    color: red;
    font-size: 0.09375rem;
}

.purchase-info span:nth-of-type(2) {
    top: 1.77734375rem;
}

.purchase-info span:nth-of-type(3) {
    top: 2.34375rem;
}

.purchase-info p {
    position: absolute;
    top: 2.74609375rem;
    left: 0.98046875rem;
    font-size: 0.09375rem;
    font-weight: 400;
    color: #494952;
}

.purchase-info button {
    position: absolute;
    top: 2.890625rem;
    left: 0.625rem;
    width: 2.60546875rem;
    height: 0.27734375rem;
    background: #3520FF;
    border-radius: 0.13671875rem;
    font-size: 0.125rem;
    font-weight: bold;
    color: #FFFFFF;
    border: 0;
    outline: none;
    cursor: pointer;
}


.back-link {
    position: relative;
    float: left;
    display: inline-block;
    font-size: 0.125rem!important;
    font-weight: 400;
    color: #494952;
    /*margin-top: 0.51953125rem;*/
    margin-top: 0.21953125rem;
}

.back-link span {
    margin-left: 0.1875rem;
}

.back-link::before {
    content: '';
    position: absolute;
    /*left: -27px;*/
    top: 0.03515625rem;
    width: 0.0859375rem;
    height: 0.0859375rem;
    font-weight: 700;
    border-left: 4px solid #494952;
    border-bottom: 4px solid #494952;
    transform: rotate(45deg);
}


/* 防止父盒子塌陷 失去 height */
.banner {
    overflow: hidden;
}

.blue-font-color {
    color: dodgerblue;
}

.warning-background {
    display: inline-block;
    background: antiquewhite;
    border-radius: 5px;
    padding: 10px 100px 10px 10px;
}

.code-background {
    display: inline-block;
    background: aliceblue;
    border-radius: 5px;
    padding: 10px 100px 10px 10px;
    font-size: 0.09375rem;
    margin-bottom: 0.1171875rem;
    width: 100%;
    white-space: pre-wrap;
}

/* 背景图 */
.header-bg {
    background: transparent url("../images/index/bg_banner.png") no-repeat top center;
    background-size: cover;
}

.header-wrapper {
    position: fixed;
    width: 100%;
    background-color: #000;
    z-index: 200;
}

a {
    color: #00000B;
    cursor: pointer;
}

.header {
    /*position: fixed;*/
    height: 0.57rem;
}


.header-logo {
    float: left;
    background: #3520FF;
    height: 100%;
    border-radius: 0 0 0.08rem 0.08rem;
}


/* 导航栏的 logo */
.header-logo h1 a img {
    float: left;
    width: 1.41rem;
    padding: 0.2rem;
}


.header-logo h1 a {
    height: 0.57rem;
}


/* 头部的 导航栏 start */
.header-nav {
    float: right;
    margin-top: 0.246rem;
    /*height: 0.57rem;*/
    /*line-height: 0.57rem;*/
}


.header-nav > li {
    position: relative;
    float: left;
    /*display: inline-block;*/
    margin: 0 0.05rem;
}


.product-link:hover .second-nav {
    display: block;
}


.header-nav .second-nav:hover {
    display: block;
}

.header-nav .second-nav {
    position: absolute;
    display: none;
    top: 0.1875rem;
    left: 0;
    width: 0.88rem;
    background-color: black;
    border-radius: 0 0 0.0625rem 0.0625rem;
    z-index: 300;
}

.header-nav li a {
    display: inline-block;
    /*float: left;*/
    font-size: 0.0937rem;
    font-weight: 400;
    padding: 0 0.15rem;
    color: #FFFFFF;
    height: 0.1875rem;
    line-height: 0.1875rem;
    border-radius: 0.0625rem;
}

.header-nav .second-nav li a {
    font-size: 0.078125rem;
    height: 0.15rem;
    line-height: 0.15rem;
    padding: 0 0.08rem;
    /*border-radius: 0 0 0.0625rem 0.0625rem;*/
    border-radius: 0;
    width: 0.9rem;
    text-align: center;
}

.second-nav li:nth-child(2) a {
    border-radius: 0 0 0.0625rem 0.0625rem!important;
}


.header-nav > li:nth-child(2) > a {
    border-radius: 0.0625rem 0.0625rem 0 0!important;
}


.header-nav li .active,
.header-nav li a:hover {
    color: #010204;
    background-color: #CCFF02;
}
/* 头部的 导航栏 end */



/* 底部部分 start */
.footer-bg {
    position: relative;
    height: 2.15234375rem;
    background-color: #18191B;
}


.footer {
    position: relative;
}

/*.footer .blue-strip {*/
/*    position: absolute;*/
/*    left: 0;*/
/*    top: 0.83984375rem;*/
/*}*/


/* 产品预定  联系我们 */
.footer .left {
    position: absolute;
    left: 0.16796875rem;
    top: 0.83203125rem;
}


.footer .left h4 {
    position: relative;
    font-size: 0.1875rem;
    font-weight: 400;
    color: #FFFFFF;
    vertical-align: top;
}


/* 版权信息 */
.footer .left p {
    font-size: 0.07421875rem;
    font-weight: 200;
    color: #ADADC6;
    margin-top: 0.05421875rem;
}


/* 自定义列表 */
.footer .right {
    float: right;
    margin-top: 0.83203125rem;
}


.footer .right dl {
    text-align: right;
}


.footer .right dl:nth-child(1) {
    margin-right: 0.43359375rem;
}

.without-margin-bottom {
    margin-bottom: 0 !important;
}

/* 技术合作  商务合作 */
.footer .right dl dt {
    font-size: 0.125rem;
    font-weight: 400;
    color: #FFFFFF;
    margin-bottom: 0.15625rem;
}


/* 合作 - 联系方式 */
.footer .right dl dd {
    font-size: 0.09375rem;
    font-weight: 400;
    color: #ADADC6;
}


.footer .right {
    display: flex;
    float: right;
}


/* ul > li 实心圆点 */
.ul-need-list-style li {
    list-style: disc!important;
    margin-left: 0.15625rem;
    font-size: 0.09375rem;
}

/* ul > li 空心圆 */
.ul-list-style-circle li {
    list-style: circle;
    font-size: 0.09375rem;
}

/* ul > li 实心方块 */
.ul-list-style-square li {
    list-style: square;
    margin-bottom: 20px;
}


.ul-ident-3-fontsize {
    margin-left: 0.3rem;
}

.ul-ident-2-fontsize {
    margin-left: 0.2rem;
}

.ul-ident-1-fontsize {
    margin-left: 0.1rem;
}


/* 回到顶部  */
.back_to_the_top {
    position: fixed;
    width: 40px;
    height: 40px;
    right: 0.51953125rem;
    bottom: 0.83203125rem;
    cursor: pointer;
}

/* 回到顶部 img */
.back_to_the_top img {
    /*display: block;*/
    width: 100%;
}


/* 底部部分 end */
.blue-vertical-line {
    position: absolute;
    display: inline-block;
    width: 0.0234375rem;
    height: 0.12890625rem;
    background-color: #3520FF;
    margin-right: 0.1rem;
    top: 0.0234375rem;
    left: 0;
}


/* 说明文档侧导航 */
.main-content .left .nav {
    position: fixed;
    top: 1.2rem;
    left: 1rem;
    z-index: 100;
}

.code-fontsize {
    font-size: 0.09375rem!important;
}
